$white: #ffffff;
$black: #000000;
$purple: #1b0d33;
$ltpurple: #ccc3d8;
$lightgrey: #efefef;
$lightblue:#edf4f4;
$ltpink:#f3eef2;


$rale: 'Raleway', sans-serif;
$jose: 'Josefin Slab', sans-serif;
$open: 'Open Sans', sans-serif;



